In [1]:
ls rawdata/

sample_submission.csv* test.csv*
store.csv*             train.csv*

In [5]:
import pandas as pd

In [3]:
store = pd.read_csv("rawdata/store.csv"); store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [2]:
def rmspe(y, yhat):
    return np.sqrt(np.mean((1 - yhat/y)**2))

In [ ]:
types {'DayOfWeek'}

In [12]:
df.dtypes

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [11]:
df.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

In [10]:
df = pd.read_csv("rawdata/train.csv")

In [4]:
train = pd.read_csv("rawdata/train.csv"); train.head()

/Users/ed/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [5]:
from sklearn.ensemble import RandomForestRegressor

In [6]:
rf = RandomForestRegressor()

In [7]:
X_train = train.drop(columns=['Sales', 'Date', 'DayOfWeek', 'StateHoliday'])
y_train = train['Sales']
rf.fit(X_train, y_train)

/Users/ed/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [8]:
test = pd.read_csv("rawdata/test.csv"); 
X_test = test.drop(columns=['DayOfWeek', 'Date', 'StateHoliday']).fillna(method='pad')

In [9]:
ret = pd.DataFrame({
    'Id': X_test['Id'], 
    "Sales": rf.predict(X_test)
    }).astype(int)

In [10]:
ret.to_csv("outputv1.csv", index=False)

In [11]:
!kaggle competitions submit -c rossmann-store-sales -f output1.csv -m "VeryVeryVeryNaiveWay"

/bin/sh: kaggle: command not found